.projetos-formacao-cursos-experiencia- {
  background-color: var(--cor8);
  line-height: 1.5;
}

.projetos-margin {
  max-width: 1100px;
  padding: 190px;
  margin: 0 auto;
  gap: 100px;
}
.projetos-formacao-cursos-experiencia- h2 {
  color: var(--cor1);
}
.projetos-formacao-cursos-experiencia- h3 {
  color: var(--cor2);
  font-size: 1.5rem;
}
.projetos-formacao-cursos-experiencia- h4 {
  color: var(--cor4);
  font-size: 1.2rem;
}

.p-hover {
  color: var(--cor1);
  place-self: end;
  justify-self: start;
  padding-top: 20px;
}

.projetos-formacao-cursos-experiencia- {
  color: var(--cor5);
}

.projetos {
  display: grid;
  grid-template-columns: 1fr 2.5fr;
  padding-bottom: 110px;
}

.projetos1 {
  display: grid;
  grid-template-columns: 1fr 2.5fr;
  padding-bottom: 10px !important;
}

.projetos1 p {
  color: var(--cor5);
  font-size: 1.35rem;
  line-height: 1.5;
}

.projetos p {
  color: var(--cor5);
  font-size: 1.35rem;
  line-height: 1.5;
}

.h2-projetos {
  font-size: 2rem;
}

.projetos-margin h3 {
  padding-top: 90px;
  padding-bottom: 20px;
}

.projetos-box {
  padding-top: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
}

.Em-andamento {
  display: grid;
  background-color: var(--cor7);
  padding: 40px;
  gap: 20px;
  flex: 1;
  border-radius: 10px;
  border: 1px solid var(--cor6);
  width: 30%;
}
