body {
  background-color: var(--cor-02);
}

#grid-link-main {
  display: grid;
  height: 100lvh;
  align-items: center;
}

#pag-link {
  display: flex;
  flex-direction: column;
  padding: 0px 20px;
  max-width: 300px;
  max-height: 750px;
  margin: 0 auto;
  text-align: center;
  justify-content: space-evenly;
  height: 100vh;
  box-sizing: border-box;
}

#pag-link h1 {
  font-size: 1.5rem;
  font-weight: 600;
}

#pag-link h2 {
  font-size: 0.8rem;
  font-weight: 500;
}

#pag-link h3 {
  font-size: 0.8rem;
  font-weight: 600;
}

#pag-link h4 {
  font-size: 0.8rem;
  font-weight: 500;
}

#pag-link picture {
  align-items: center;
  justify-content: center;
}

.icones {
  display: flex !important;
  justify-content: center !important;
  height: 2rem !important;
  gap: 20px !important;
  fill: var(--p-01) !important;
}

.botao-social {
  max-width: max-content !important;
}

.icones :hover {
  fill: var(--p-02) !important;
}

.slogan {
  font-size: 0.7rem;
}

.retrato-link {
  display: inline-grid;
  border-radius: 50%;
  object-fit: cover;
  border: solid 4px var(--p-01);
  max-width: 50%;
}

.logo-link {
  display: inline-grid;
  max-width: 40%;
  align-items: center;
  margin: 5px 0px;
}

.button-link-box {
  gap: 10px;
  display: flex;
  flex-direction: column;
}

.button-link {
  padding: 10px 10px;
  background-color: var(--cor-01);
  border-radius: 5px;
}

.button-link:hover {
  background-color: var(--p-02);
  color: var(--cor-01);
}

.nome {
  display: grid;
  gap: 5px;
}

.orcamento {
  background-color: var(--p-01);
  color: var(--cor-02);
}

.whats::before {
  content: " ";
  display: inline-block;
  width: 1.4rem;
  height: 1.4rem;
  background-image: url(../../arquivos/iconeslink/whats.svg);
  background-size: 1.4rem 1.4rem;
  position: absolute;
  left: 0.7rem;
}

.whats {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.email::before {
  content: " ";
  display: inline-block;
  width: 1.4rem;
  height: 1.4rem;
  background-image: url(../../arquivos/iconeslink/email.svg);
  background-size: 1.4rem 1.4rem;
  position: absolute;
  left: 0.7rem;
}

.email {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.site::before {
  content: " ";
  display: inline-block;
  width: 1.4rem;
  height: 1.4rem;
  background-image: url(../../arquivos/iconeslink/site.svg);
  background-size: 1.4rem 1.4rem;
  position: absolute;
  left: 0.7rem;
}

.site {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.behance::before {
  content: " ";
  display: inline-block;
  width: 1.4rem;
  height: 1.4rem;
  background-image: url(../../arquivos/iconeslink/behance.svg);
  background-size: 1.4rem 1.4rem;
  position: absolute;
  left: 0.7rem;
}

.behance {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.orcamento::before {
  content: " ";
  width: 1.4rem;
  height: 1.4rem;
  background-image: url(../../arquivos/iconeslink/orçamento.svg);
  background-size: 1.4rem 1.4rem;
  justify-content: center;
  position: absolute;
  left: 0.7rem;
}

.orcamento {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

@media (min-width: 900px) {
  .slogan {
    font-size: 1rem;
  }

  .icones {
    display: flex !important;
    justify-content: center !important;
    height: 2.7rem !important;
    gap: 20px !important;
  }

  #pag-link {
    display: flex;
    flex-direction: column;
    padding: 0px 20px;
    max-width: 600px;
    max-height: 850px;
    margin: 0 auto;
    text-align: center;
    justify-content: space-evenly;
    height: 100vh;
    box-sizing: border-box;
  }

  #pag-link h1 {
    font-size: 2rem;
    font-weight: 600;
  }

  #pag-link h2 {
    font-size: 1.1rem;
    font-weight: 500;
  }

  #pag-link h3 {
    font-size: 1rem;
    font-weight: 600;
  }

  #pag-link h4 {
    font-size: 1rem;
    font-weight: 500;
  }
  .retrato-link {
    display: inline-grid;
    border-radius: 50%;
    object-fit: cover;
    border: solid 4px var(--p-01);
    max-width: 35%;
  }

  .logo-link {
    display: inline-grid;
    max-width: 25%;
    align-items: center;
    margin: 5px 0px;
  }
}
