.rodape-bg {
  background-color: var(--cor-06);
  border-top: 1px solid var(--cor-05);
}
.rodape {
  max-width: 1200px;
  padding: 100px 100px 100px 100px;
  margin: 0 auto;
}

.rodape-intro {
  display: grid;
  grid-template-columns: 1fr 1.5fr;
}

.logo-rodape {
  width: 50%;
}

.instagram-rodape {
  display: flex;
  gap: 10px;
}

.navegacao {
  padding-top: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 50px;
}

.contato-rodape {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.navegacao-rodape {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.marca-direitos {
  padding: 20px 50px;
  text-align: center;
  color: var(--cor-04);
  background-color: var(--cor-07);
  border: 1px solid var(--cor-05);
}

.navegacao li :hover {
  color: var(--p-01);
  transition: 1s;
}

.navegacao a :hover {
  color: var(--p-01);
  transition: 1s;
}

@media (max-width: 900px) {
  .rodape-intro {
    grid-template-columns: 1fr;
  }
  .logo-rodape {
    display: none;
  }
}

@media (max-width: 500px) {
  .rodape {
    padding-right: 30px;
    padding-left: 30px;
  }
  .rodape-intro p {
    font-size: .9rem;
  }
  .rodape-intro h4 {
    font-size: .9rem;
  }
  .rodape-intro li {
    font-size: 0.8rem;
  }
  footer > p {
    font-size: 0.8rem !important;
  }
}
