.conhecimentos-bg {
  background-color: var(--cor-06);
}

.conhecimentos {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0px 100px 100px 100px;
}
.conhecimentos-intro {
  display: grid;
  grid-template-columns: 1.1fr 2fr;
  padding-bottom: 50px;
}

.conhecimentos-box {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.conhecimentos-box :hover {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  border: 1px solid var(--p-01);
  background-color: var(--cor-08);
}

.conhecimentos-icones {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  width: 20%;
  flex-grow: 1;
  height: 130px;
  border: 1px solid var(--cor-05);
  border-radius: 5px;
  background-color: var(--cor-07);
}

@media (max-width: 900px) {
  .conhecimentos-intro {
    grid-template-columns: 1fr;
  }

  .conhecimentos-intro h2 {
    padding-bottom: 20px;
  }
}

@media (max-width: 700px) {
  .conhecimentos-icones {
    width: 40%;
  }
}

@media (max-width: 500px) {
  .conhecimentos {
    padding-right: 30px;
    padding-left: 30px;
  }
  .conhecimentos h2 {
    font-size: 1.2rem;
  }

  .conhecimentos p {
    font-size: 1rem;
  }
}
