.cursos-bg {
  background-color: var(--cor-07);
}

.cursos {
  max-width: 1200px;
  padding: 0px 100px 100px 100px;
  margin: 0 auto;
}

.cursos-intro {
  display: grid;
  grid-template-columns: 1.1fr 2fr;
}

.cursos-lista {
  display: grid;
  gap: 20px;
  padding-top: 50px;
  grid-template-columns: 1fr 1fr;
}

.cursos-box {
  background-color: var(--cor-06);
  border: 1px solid var(--cor-05);
  border-radius: 5px;
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
  padding: 50px;
  gap: 20px;
}

@media (max-width: 900px) {
  .cursos-intro {
    grid-template-columns: 1fr;
  }
  .cursos-lista {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }
}

@media (max-width: 500px) {
  .cursos {
    padding-right: 30px;
    padding-left: 30px;
  }
  .cursos-box {
    padding: 25px 50px;
  }
  .cursos h2 {
    font-size: 1.1rem;
  }
  .cursos p {
    font-size: .9rem;
  }
  .cursos-lista h4 {
    font-size: .9rem;
  }
  .cursos-lista p {
    font-size: 0.8rem;
  }
}
