.cursos-bg {
  background-color: var(--cor-07);
}

.cursos {
  max-width: 1200px;
  padding: 0px 100px 150px 100px;
  margin: 0 auto;
}

.cursos-intro {
  display: grid;
  grid-template-columns: 1.1fr 2fr;
}

.cursos-lista {
  display: grid;
  gap: 20px;
  padding-top: 50px;
  grid-template-columns: 1fr 1fr;
}

.cursos-box {
  background-color: var(--cor-06);
  border: 1px solid var(--cor-05);
  border-radius: 5px;
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
  padding: 50px;
  gap: 20px;
}
.cursos-box:hover {
  border: 1px solid var(--p-01);
  background-color: var(--cor-08);
}

.cursos-box a:hover {
  color: var(--p-01);
}

@media (max-width: 900px) {
  .cursos-intro {
    grid-template-columns: 1fr;
  }
  .cursos-lista {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }
}

@media (max-width: 500px) {
  .cursos {
    padding: 0px 30px 50px 30px;
  }

  .cursos-intro h2 {
    padding-bottom: 25px;
  }
  .cursos-box {
    padding: 25px 50px;
  }
  .cursos h2 {
    font-size: 1.1rem;
  }
  .cursos p {
    font-size: 0.9rem;
  }
  .cursos-lista h4 {
    font-size: 0.9rem;
  }
  .cursos-lista p {
    font-size: 0.8rem;
  }

  .botao-saiba-mais-cursos.seta.button.primaria-01 {
    font-size: 0.6rem;
  }
}

@media (max-width: 300px) {
  .cursos-box {
    padding: 30px;
  }
  .faculdade-box {
    padding: 30px;
  }
}
