.habilidades-bg {
  background-color: var(--cor-06);
}
.habilidades {
  max-width: 1200px;
  padding: 150px 100px 150px 100px;
  margin: 0 auto;
}
.habilidades-intro {
  display: grid;
  grid-template-columns: 1.1fr 2fr;
  padding-bottom: 50px;
}

.habilidades-lista {
  gap: 20px;
  display: flex;
}

@media (max-width: 1100px) {
  .habilidades-lista {
    gap: 40px;
    display: flex;
    flex-wrap: wrap;
  }
}

@media (max-width: 900px) {
  .habilidades-intro {
    grid-template-columns: 1fr;
  }

  .habilidades-intro h2 {
    padding-bottom: 20px;
  }
}

@media (max-width: 500px) {
  .habilidades {
    padding: 50px 30px 50px 30px;
  }
  .habilidades h2 {
    font-size: 1.1rem;
  }

  .habilidades p {
    font-size: 0.9rem;
  }
  .habilidades-intro {
    padding-bottom: 50px;
  }
  .box-1 {
    padding: 30px;
  }
}
