.intro-bg {
  background-color: var(--cor-02);
}

.intro-home {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  padding: 0px 100px 100px 100px;
  grid-template-columns: 2.5fr 1fr;
}
.texto-intro > h1 {
  padding-bottom: 40px;
}
.texto-intro {
  align-self: center;
  padding-right: 40px;
}

/*.typewriter:after {
    content: "|";
    margin-left: 8px;
    opacity: 1;
    animation: blink 1s infinite;
    color: var(--p-01)
  } */

.retrato {
  border-radius: 5px;
  box-shadow: 30px 30px 150px 0px rgba(0, 0, 0, 0.3);
  border: 2px solid var(--p-01);
  height: 100%;
  width: 100%;
  object-fit: cover;
}

@media (max-width: 900px) {
  .intro-home {
    grid-template-columns: 1fr;
  }
  .intro-home img {
    display: none;
  }
  .texto-intro {
    padding-right: 0px;
  }
}

@media (max-width: 700px) {
  .texto-intro > h1 {
    font-size: 3.5rem;
  }
}

@media (max-width: 600px) {
  .texto-intro > h1 {
    font-size: 3rem;
  }
}

@media (max-width: 500px) {
  .texto-intro > h1 {
    font-size: 2rem;
  }
  .intro-home {
    padding-right: 30px;
    padding-left: 30px;
    padding-bottom: 50px;
  }
  .sobre  h2 {
    font-size: 1.1rem ;
  }
    
  .intro-home p {
    font-size: .9rem;
}
.texto-intro > h1 {
  padding-bottom: 10px;
}
}

@media (max-width: 400px){
  .texto-intro > h1 {
    font-size: 1.65rem;
}
}