.projetos-bg {
  background-color: var(--cor-07);
}

.projetos {
  max-width: 1200px;
  margin: 0 auto;
  padding: 150px 100px 0px 100px;
}
.projetos-intro {
  display: grid;
  grid-template-columns: 1.1fr 2fr;
  padding-bottom: 50px;
}

.projeto-desenvolvimentos {
  display: flex;
  flex-direction: column;
}

.box-projetos-imagem {
  width: 100dvw;
  border-radius: 5px;
  box-shadow: 6px 6px 30px rgba(0, 0, 0, 0.4);
}

.box-projetos-imagem:hover {
  box-shadow: 0px 0px 30px var(--p-01);
  transition: 1s ease;
}

.box-projetos-box {
  padding: 100px 50px;
  background-color: var(--cor-06);
  margin: 25px 0px;
}

.projetos-desenvolvimentos-flex {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  padding-bottom: 150px;
}

@media (max-width: 900px) {
  .projetos-intro {
    grid-template-columns: 1fr;
  }

  .projetos-intro h2 {
    padding-bottom: 20px;
  }

  .projetos-desenvolvimentos-flex {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }
}

@media (max-width: 700px) {
  .projetos-intro {
    grid-template-columns: 1fr;
  }
  .box-projetos-box {
    padding: 0px;
    background-color: var(--cor-06);
    margin: 25px 0px;
    object-fit: cover;
  }
}

@media (max-width: 500px) {
  .projetos {
    padding: 50px 30px 50px 30px;
  }
  .projetos-intro h2 {
    font-size: 1.1rem;
  }
  .projetos > h3 {
    font-size: 1rem;
  }
  .projetos-intro p {
    font-size: 0.9rem;
  }

  .projeto-desenvolvimentos h3 {
    font-size: 0.9rem;
  }

  .projeto-desenvolvimentos p {
    font-size: 0.6rem;
  }

  .projetos-desenvolvimentos-flex {
    gap: 25px;
    padding-bottom: 50px;
  }
  .projetos-desenvolvimentos-flex {
    gap: 0px;
  }

  .box-projetos-box {
    margin: 0px;
  }

  .projeto-desenvolvimentos h3 {
    padding-top: 20px;
    padding-bottom: 10px;
  }

  .projetos > h3{
    padding-bottom: 20px;
  }
}
