.sobre-bg {
  background-color: var(--cor-02);
}

.sobre {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1.1fr 2fr;
  padding: 0px 100px 150px 100px;
}

@media (max-width: 900px) {
  .sobre {
    grid-template-columns: 1fr;
  }

  .sobre h2 {
    padding-bottom: 20px;
  }
}

@media (max-width: 500px) {
  .sobre {
    padding: 0px 30px 50px 30px;
  }
  .sobre h2 {
    font-size: 1.1rem;
  }

  .sobre p {
    font-size: 0.9rem;
  }
}
