.box-1 {
  display: grid;
  padding: 50px;
  flex: 1;
  gap: 20px;
  border-radius: 5px;
  border: 1px solid var(--cor-05);
  background-color: var(--cor-07);
}

.box-1:hover {
  border: 1px solid var(--p-01);
  background-color: var(--cor-08);
  transition: 1s;
  gap: 20px;
  border-radius: 5px;
}

.botao-saiba-mais {
  align-items: center;
  gap: 5px;
  text-transform: uppercase;
  max-width: max-content;
}

.seta::after {
  content: "";
  display: inline-block;
  width: 11px;
  height: 10px;
  margin-left: 12px;
  background: url(../../arquivos/icones/seta.svg);
  transition: transform 0.2s;
  align-items: center;
}
.seta:hover::after {
  transform: translateX(4px);
}

.botao-saiba-mais p {
  display: flex;
  justify-self: center;
}

.botao-saiba-mais-cursos {
  justify-content: end;
  padding-top: 25px;
  display: flex;
  align-items: center;
  text-transform: uppercase;
}

.botao-saiba-mais-cursos p {
  text-align: center;
}

.padding-botton-15px {
  padding-bottom: 15px;
}

.padding-botton-20px {
  padding-bottom: 20px;
}

.padding-botton-30px {
  padding-bottom: 30px;
}

.padding-botton-40px {
  padding-bottom: 40px;
}

.whats-fixed {
  position: fixed;
  bottom: 30px;
  right: 30px;
  z-index: 2;
}


@media (max-width: 900px) {
  .whats-fixed{
    display: none;
  }
}